@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Esteban&family=Montserrat:wght@600&family=Permanent+Marker&display=swap');

/* cacher la scroll bar */

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Couleur du body */
*{
    font-family: 'Esteban', serif;
    scroll-behavior: smooth !important;
}

/* Mise en place des éléments en border-box */

html, body, main, section {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Esteban', 'Sans-serif';
}

body {
    background-color: #fff;
}

div {
  box-sizing: border-box;
}

/* Style de la nav avec un dégrader de couleur */
#nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    box-sizing: border-box;
    z-index: 2;
    transition: all .3s ease;
    align-items: center;
  }
  
/* Stylisation de la div nav et celle du logo (H1)*/
#nav .logo a{
    font-size: 2rem;
    color: white;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;   
    display: block;
    margin-left: 2rem;
    margin-top: -.3rem;
    transition: all .5s ease;
}

#nav h1 {
  width: 20rem;
}

  /* placements des liens dans la nav */
  #menuhead{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: -3.1rem;
    justify-content: right;
    transition: all .5s ease;
  }

  #nav li a {
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    color: white;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: color .5s ease;
  }



  /* La classe sticky qui avec JS va apparaitre */
#nav.sticky {
    background-image: linear-gradient(260deg,#590404 0%, #333 100%);
    width: 100%;
    opacity: 100%;
    padding-top: 2px;
  }

/* stylisation de la page d'accueil  */

.imghaut {
  background-image: url("https://alhassane09.github.io/alhassane-diaby.github.io/img/imghaut.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  max-width: 100%;
  height: 102vh;
  margin-top: -3rem;
}

.imghaut h2 {
  color: #F2E2D2;
  position: relative;
  top:30vh ;
  left: 10%;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}

.imghaut span {
  font-family: 'cabin', sans-serif;
}

.txt-type > .txt {
  border-right: 0.2rem solid #F2E2D2;
}

/* stylisation de la catégorie à propos  */

.apropos h2, .competence h2, .creation h2, .contact h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: .5rem;
}

#apropos {
  width: 100%;
  height: 40rem;
}

#apropos h2{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
  padding-top: 1rem;
}


/* personnalisation du paragraphe et des centres d'interets  */

.propos {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}


.imgapropos {
  display: grid;
}

.imgapropos .imgmoi {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  grid-area: overlap;
}

.imgapropos .photomoi {
  grid-column: 1;
  grid-row: 1;
  grid-area: overlap;
  opacity: 0;
  transition: .5s ease-in-out;
}

.imgapropos:hover .photomoi {
  opacity: 1;
}

.papropos {
  font-size: 1.2rem;
  grid-column: 2/4;
  grid-row: 1;
}


#cv {
  width: 20rem;
  height: 3rem;
  background-color: #333;
  border-radius: 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'cabin';
  color: #F2E2D2;
}


#cv:hover {
  background-color: #590404;
  color: #fff;
  transition: 0.5S ease;
}

/* section compétence */

#competence {
  height: 100rem;
  background-color: #28282844;
}

.competence h2 {
padding-top: 4rem;
padding-bottom: 1rem;
margin: 0;
}

#competence .card {
  display: block;
  text-align: center;
  margin: 0 5rem;
}

.card > div {
  background-color: rgba(255, 255, 255, 0.377);
  overflow: hidden;
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
  margin: 0 1rem 0 1rem;
  box-shadow: 10px 10px 10px #5904045e;
  transition: all .7s ease-in-out ;
  justify-content: center;
  text-align: center;
  /* animation: floating 3s ease-in-out infinite, wipe-enter 2s ease; */
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 5px); }
  100%   { transform: translate(0, -0px); }  
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

.front {
  height: 23rem;
}

.front.hidden {
  display: none;
}

.front.active {
  animation: floating 3s ease-in-out infinite, wipe-enter 2s ease;
}

.back {
  height: 18rem;
}

.back.hidden {
  display: none;
}

.back.active {
  animation: floating 3s ease-in-out infinite, wipe-enter 2s ease;
}

.cms {
  height: 10rem;
}

.cms.hidden {
  display: none;
}

.cms.active {
  animation: floating 3s ease-in-out infinite, wipe-enter 2s ease;
}

.environnement.hidden {
  display: none;
}

.environnement.active {
  animation: floating 3s ease-in-out infinite, wipe-enter 2s ease;
}

.h3.hidden {
  display: none;
}

.h3.active {
  animation: slidein 2s ease;
}

#competence h3 {
  text-transform: uppercase;
  font-family: 'cabin', sans-serif;
  font-weight: bold;
  transition: all .7s ease-in-out;
  font-size: 1.5rem;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.compprogress {
  width: 100%;
  height: 100%; 
}

.skills{
  width: 100%;
  padding: 0 20px;
  margin: 0;
}

.skill-name{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem 0;
}

.skill-bar{
  height: 1rem;
  background: #282828;
}

.skill-per{
  height: 1rem;
  background: #590404;
  position: relative;
}

.compprogress .myenv * {
  font-size: 1.5rem;
}

/* section creations  */

.creation {
  margin-top: 0;
  width: 100%;
  height: 50rem;
  text-align: center;
}

.creation h2 {
  padding-top: 4rem;
  margin: 0;
}

.creation p {
  margin: 8rem 0 0 0;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: 'cabin', sans-serif;
}

/* contact */

.contact {
  width: 100%;
  height: 40rem;
  background-color: #ecbea191;
}

.contact h2 {
  padding: 4rem;
  margin: 0;
}

.mescontact {
  margin: 0 2rem 0 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.mescontact div {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  width: 100%;
  text-transform: uppercase;
  font-family: 'cabin', sans-serif;
  font-weight: 900;
  border: solid 1px #E4A58C;
  border-radius: .5rem;
}

.mescontact div:hover {
  box-shadow: 10px 10px 10px #590404;
}


.mescontact a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.un {
  grid-column: span 1;
  grid-row: 1;
  background-color: #E4A58C;
}
.deux {
  grid-column: 1;
  grid-row: 2;
  background-color: #E4A58C;
}
.trois {
  grid-column: 2;
  grid-row: 1;
  background-color: #E4A58C;
}

.quatre {
  grid-column: 2;
  grid-row: 2;
  background-color: #E4A58C;
}

/* footer  */

#footer{
  width: 100%; 
  height: 10rem;
  background-color: #333;
  text-align: center;
  display: block;
}

#footer p {
  margin: 0;
  padding: 1rem 0 0 ;
  color: #F2E2D2;
  font-size: 1rem;
}

#footer div {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
}

#footer div a{
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  color: #F2E2D2;
  margin: 1rem 1rem 1rem 1rem;
}

/* responsive  */
@media (min-width: 991px ) {
  .menubtn {
    display: none;
  }
}

@media (max-width : 990px) {
  .menubtn {
    color: #F2E2D2;
    display: block;
    font-size: 2rem;
    text-align: right;
    position: relative;
    width: 2rem;
    right: -92vw;
    top: -4rem;
    transition: all .5s ease-in-out;
  }
  
  .menubtn.rotate {
    transform: rotate(90deg);
    position: relative;
    top: -4rem;
  }
  
  .logo a {
    display: inline-block;
    width: 18rem;
  }

  .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -110%;
    top: 6.6rem;
    flex-direction: column;
    text-align: center;
    transition: all .5s ease-in-out;
    background-color: rgba(51, 51, 51, 0.897);
  }

  .menu li {
    display: inline-block;
    padding-top: 5rem;
  }

  .menu li a{
    padding: 0;
    margin: 0;
    width: 13rem;
    display: inline-block;
    font-size: 1.5rem;

  }

  .menu.active {
    left: 0;
    margin: 0;
  }

  #nav.sticky {
    background-image: linear-gradient(260deg,#590404 0%, #333 100%);
    width: 100%;
    opacity: 100%;
  }

}

@media (max-width : 950px) {
  .mescontact {
    display: block;
  }

  .mescontact div {
    margin: 2rem 0;
  }
}

@media (max-width : 900px) {

  .propos {
    display: block;
    text-align: center;
  }

  .imgapropos {
    display: none;
  }


}

@media (max-width : 472px) {
  #apropos {
    height: 45rem ;
  }
}

#competence .card {
  display: block;
  text-align: center;
  margin: 0 0rem;
}

.front {
  height: 25rem;
}

.cms {
  height: 13rem;
}



@media (max-width : 415px) {
  .back {
    height: 20rem;
  }

  #competence {
    height: 103rem;
  }
}

@media (max-width : 400px) {
  .mescontact div {
    font-size: 1rem;
  }

  .imghaut h2 {
    font-size: 2.2rem;
  }
  

  .menu.active {
    top: 5.9rem;
  }

  .menubtn {
    top: -.3rem;
    left: 11rem;
  }

  .menubtn.rotate {
    top: -.3rem;
  }

 #nav .logo a{
    display: none;
  }


  #competence {
    height: 103rem;
  }
  
}

@media (max-width: 380px) {
  #apropos {
    height: 50rem;
  }
}

@media (max-width: 350px) {
  
  .menubtn {
    top: -.3rem;
    left: 10rem;
  }

  .menubtn.rotate {
    top: -.3rem;
  }


  #apropos {
    height: 51rem;
  }

  #cv {
    position: relative;
    left: -1rem;
  }

}